body {
  background-color: #f1f1f1;
  color: #of141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "roboto", sans-serif;
}

#avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.515);
}
.info p {
  color: #86898f;
  font-style: italic;
}
